[Unit]
Description=Heritamus project
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/Heritamus
ExecStart=/usr/bin/npm run prod
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
