<app-toast [message]="toast.message"></app-toast>

<table class="table table-bordered table-striped">
  <thead class="thead-default">
    <tr>
      <th class="col-md-4">{{ '_USERNAME_' | translate:lang }}</th>
      <th class="col-md-4">{{ '_EMAIL_' | translate:lang }}</th>
      <th class="col-md-2">{{ '_ROLE_' | translate:lang }}</th>
      <th class="col-md-2">{{ '_ACTIONS_' | translate:lang }}</th>
    </tr>
  </thead>
  <tbody *ngIf="users.length === 0">
    <tr>
      <td colspan="4">{{ '_NO_USERS_' | translate:lang }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="users.length > 0">
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <select class="form-control user-role-{{user.username}}" [disabled]="auth.currentUser._id == user._id" (change)="changeUserRole(user)">
          <option [selected]="user.role === 'user'" value="user">{{ '_USER_' | translate:lang }}</option>
          <option [selected]="user.role === 'admin'" value="admin">{{ '_ADMIN_' | translate:lang }}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="deleteUser(user)" [disabled]="auth.currentUser._id === user._id">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
