<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="page-false-overlay">
  <div class="container page-content" *ngIf="!isLoading">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="form" (submit)="updateUser()">
          <h3>{{ '_ACCOUNT_SETTINGS_' | translate:lang }}</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="offset-field inner-addon left-addon">
                  <i class="fa fa-fw fa-lg fa-user"></i>
                  <input class="form-control"
                         formControlName="username"
                         type="text"
                         name="username"
                         placeholder="{{ '_USERNAME_' | translate:lang }}"
                         required>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="offset-field inner-addon left-addon">
                  <i class="fa fa-fw fa-lg fa-envelope"></i>
                  <input class="form-control"
                         formControlName="email"
                         type="email"
                         name="email"
                         placeholder="{{ '_EMAIL_' | translate:lang }}"
                         required>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="offset-field inner-addon left-addon">
                  <i class="fa fa-fw fa-lg fa-lock"></i>
                  <input class="form-control"
                         formControlName="password"
                         type="password"
                         name="password"
                         placeholder="{{ '_PASSWORD_' | translate:lang }}">
                </div>
              </div>
            </div>
            <div class="col-md-8 pt-1">
              <p>{{ '_ENTER_PASSWORD_TO_CHANGE_' | translate:lang }}</p>
            </div>
          </div>
          <hr />
          <button class="btn btn-success" type="submit" [disabled]="form.invalid">
            <i class="fa fa-save"></i> {{ '_SAVE_' | translate:lang }}
          </button>
          <button routerLink="/app" class="btn btn-default">{{ '_CLOSE_' | translate:lang }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
